
<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs cliente-new-form">
    <%= f.input :apellido %>
    <%= f.input :nombre %>
    <%= f.input :domicilio %>
    <%= f.input :client_type, as: :radio_buttons, collection: Cliente::CLIENT_TYPE, wrapper: :vertical_collection_inline, label:'Tipo Cliente'%>
    <%= f.input :telefono %>
    <%= f.input :celular %>
    <%= f.input :barrio %>
    <%= f.input :id_rubro %>
    <%= f.input :cuit %>
    <%= f.input :correo %>
    <%= f.hidden_field :cliente_id, value: @cliente.cliente_id%>
  </div>
    <%= f.button :submit, placeholder: "Crear" %>
  </div>
<% end %>

