
<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs cliente-new-form">
    <%= f.input :apellido %>
    <%= f.input :id_cliente %>
    <%= f.input :nombre %>
    <%= f.input :domicilio %>
    <%= f.input :telefono %>
    <%= f.input :celular %>
    <%= f.input :barrio %>
    <%= f.input :id_rubro %>
    <%= f.input :id_tipo_cliente %>
    <%= f.input :cuit %>
    <%= f.input :correo %>
  </div>
    <%= f.button :submit, placeholder: "Crear" %>
  </div>
<% end %>

