<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>DNI cliente:</strong>
  <%= @cliente.cliente_id %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @cliente.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @cliente.domicilio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @cliente.barrio %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @cliente.id_rubro %>
</p>

<p>
  <strong>CUIT:</strong>
  <%= @cliente.cuit %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<p>
  <strong>Cliente_Id:</strong>
  <%= @cliente.cliente_id %>
</p>

<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_cliente_path(@cliente),method: :get %></div>
  <div class="p-2 bd-highlight">  <%= button_to 'Back', clientes_path(@cliente), method: :get %></div>
  <div class="p-2 bd-highlight"> <%= button_to 'Crear Certificado', new_certificado_path(@cliente.id)%></div>
</div>
</div>
