<%= simple_form_for(@certificado) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs container hight:500px">
    <%= f.input :nro_certificado %>
    <%= f.input :id_rubro %>
    <%= f.input :id_tratamiento %>
    <%= f.input :id_vector %>
    <%= f.input :superficie %>
    <%= f.input :id_drogas %>
    <%= f.input :fecha_aplicacion %>
    <%= f.input :fecha_vencimiento %>
    <%= f.input :hora_aplicacion %>
    <%= f.input :proximo_tratamiento %>
    <%= f.input :codigo %>
    <%= f.input :id_cliente %>
    <div class="input-group">
          <select class="custom-select" id="inputGroupSelect04">
            
            <option selected>Seleccionar</option>
            <option value= id_cliente > nada </option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
     </div>    
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

