<p id="notice"><%= notice %></p>


<p>
  <strong>Nro certificado:</strong>
  <%= @certificado.nro_certificado %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @certificado.id_rubro %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @certificado.id_tratamiento %>
</p>

<p>
  <strong>Vectores:</strong>
  <%= @certificado.id_vector %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @certificado.superficie%>
</p>

<p>
  <strong>Veneno:</strong>
  <%= @certificado.id_drogas %>
</p>


<p>
  <strong>Fecha aplicacion:</strong>
  <%= @certificado.fecha_aplicacion %>
</p>

<p>
  <strong>Fecha vencimiento:</strong>
  <%= @certificado.fecha_vencimiento %>
</p>

<p>
  <strong>Hora aplicacion:</strong>
  <%= @certificado.hora_aplicacion %>
</p>

<p>
  <strong>Proximo tratamiento:</strong>
  <%= @certificado.proximo_tratamiento %>
</p>


<p>
  <strong>Codigo:</strong>
  <%= @certificado.codigo %>
</p>

<p>
  <strong>Id cliente:</strong>
  <%= @certificado.id_cliente %>
</p>


<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_certificado_path(@certificado),method: :get %></div>
  <div class=" bd-highlight btn btn-success btn-sm">  <%= link_to 'Back', certificado_path %></div>
</div>
