
<h3>Resultados encontrados</h3>
 <table>
 <thead>
    <tr>
      <th>Nro certificado</th>
      <th>Rubro</th>
      <th>Tratamiento</th>
      <th>Vectores</th>
      <th>Superficie</th>
      <th>Veneno</th>
      <th>Fecha aplicacion</th>
      <th>Fecha vencimiento</th>
      <th>Hora aplicacion</th>
      <th>Codigo</th>
      <th>Id cliente</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results_c.each do |result| %>
      <tr>
        <td><%= result.nro_certificado %></td>
        <td><%= result.id_rubro %></td>
        <td><%= result.id_tratamiento %></td>
        <td><%= result.id_vector %></td>
        <td><%= result.superficie%></td>
        <td><%= result.id_drogas %></td>
        <td><%= result.fecha_aplicacion %></td>
        <td><%= result.fecha_vencimiento %></td>
        <td><%= result.hora_aplicacion %></td>
        <td><%= result.codigo %></td>
        <td><%= result.id_cliente %></td>
        <td><%= button_to  'Detalle', certificado, method: :get %></td>
        <td><%= button_to  'Editar', edit_certificado_path(certificado),method: :get %></td>
        <td><%= button_to 'Eliminar', certificado_path(certificado),method: :delete, data: { confirm: "Estás seguro?" }  %></td>
        </tr>
    <% end %>
  </tbody>
</table>
