<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @tecnico.dni %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @tecnico.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tecnico.nombre %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @tecnico.domicilio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @tecnico.telefono %>
</p>

<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_tecnico_path(@tecnico),method: :get %></div>
  <div class="p-2 bd-highlight">  <%= button_to 'Back', tecnicos_path(@tecnico), method: :get %></div>
</div>
</div>
